doctype html
head
	title NMC CONTACT
	link(rel="stylesheet" type="text/css" href="./static/css/style.css")
body.contact-body
	.contact-body-cont CORY LOXTON 59 MANCHESTER ROAD, ALBERTA CANADA THE-YUP-BEAN
script(type="text/javascript" src="./static/js/script.js")

