doctype html
head
	title "NEED MORE COFFEE"
	link(rel='stylesheet' type='text/css' href='./static/css/style.css')
body.index-body
	canvas#canvas-bg
	main.index-body-main
		.index-title-coffee COFFEE
		.index-title-house HOUSE
		.index-links
			a.index-contact-link(href='../contact') CONTACT
			a.index-about-link(href='../about') ABOUT
	.index-smoke-cont
		img.screen(src='./static/images/smoke04.gif')
	.index-greeting
	script(type='text/javascript' src='./static/js/script.js')
