doctype html
html
	head
		title COFFEE HOUSE
		link(rel="stylesheet" type="text/css" href="./static/css/style.css")
	body.body
		block content
		block footer
		script(type='text/javascript' src='./static/js/script.js')
		footer.index-footer-copyright © #{new Date().getFullYear()} COFFEE HOUSE